
.alert-block {
  @include text-shadow(none);
  @include border-radius(0);
  border: 0;

  ul {
    padding-left: 1.5em;
  }
}

.alert-info {
  color: $alert-info-font-color;
  border-color: $alert-info-border-color;
  background-color: $alert-info-background-color;
}

a.tabledrag-handle .handle {
  height: 23px;
  margin: -0.3em 0.5em;
  width: 23px;
}

.action-links {
  clear: both;
  padding: 0;
  margin: 0.25em 0;

  li {
    margin-right: 0.5em;
    display: inline;
  }
}

.clearfix {
  overflow: visible !important;
}

// Administration pages
div.admin {

  .compact-link {
    display: none;
  }

  .left {
    margin-left: 0;
  }

  .right {
    margin-right: 0;
  }
}

div.admin-panel {
  margin: 0 0 20px;
  padding: 0.5em 1em;
  background: #f8f8f8;
  border: 1px solid #ccc;

  h3 {
    text-transform: uppercase;
    margin: 0;
  }

  dl {
    margin: 1em 0;
  }

  .body {
    padding: 0;
  }

  dt {
    padding-top: 0.5em;
    border-top: 1px solid #ccc;
  }

  dd {
    margin-bottom: 0.75em;
  }
}

// Forum
.forum-add-node {
  margin-bottom: 10px;
}

.forum-topic-legend {
  overflow: hidden;
  font-size: 0.75em;

  div {
    clear: none;
    margin-right: 1em;
  }
}

.forum-node-create-links {
  display: none;
}

.forum-node-create-links-top.forum-node-create-links {
  display: block;
  width: 100%;
}

.view-content + .forum-node-create-links {
  display: block;
}

.forum-tools {
  margin-top: 0;
}

// Homebox
#homebox {

  .portlet-content {
    padding: 10px;
  }
}

#homebox-add {
  overflow: hidden;

  li {
    line-height: 1;
    font-size: 0.75em;
  }
}

// Ctools
.ctools-collapsible-container {
  clear: both;
}

.views-display-columns > * {
  clear: none;
}

// Apps
#apps-list {

  ul {

    li {
      height: auto;
      width: 32%;
    }
  }
}

.app-teaser {
  width: 130px;

  .app-action {
    width: 75px;
  }
}

#app-wrapper {
  font-size: 1em;

  h1 {
    margin-top: 0;
    padding-left: 1em;
    font-size: 2em;
  }
}

.screenshot-shadow {
  display: none;
}

body.page-admin-apps {

  .action-links {

    a, a:visited {
      @extend .icon;
      @extend .icon-install;
      padding: 5px 10px;
      background: $link-color;
      color: white;
      @include border-radius(10px);
    }

    a:before {
      padding-right: 10px;
    }

    a:hover {
      background: $link-hover-color;
    }
  }
}
